<div class="is-flex is-flex-direction-row is-justify-content-space-evenly">
  <div class="is-two-fifths" style="margin-left:-50px">
    <app-map [data]='mapData' *ngIf="mapData"></app-map>
  </div>
  <div class="is-half">
    <div class="content has-text-centered" *ngIf="lodgeObj">
      <h1>Welcome to {{lodgeObj.lodgeName}}</h1>
      <ul style="list-style-type: none">
        <li>Address: {{lodgeObj.streetAddress}}</li>
        <li>Municipality: {{lodgeObj.municipality}}</li>
        <li>Province: {{lodgeObj.province}}</li>
        <li>Canada: {{lodgeObj.country}}</li>
        <li>Fly In: {{lodgeObj.flyIn}}</li>
        <li>Owner: {{lodgeObj.owner}}</li>
        <li>Starting Price: ${{lodgeObj.startingPrice}}/Day</li>
      </ul>
      <div class="has-text-centered mt-4">
        <button class="button is-info" *ngIf="allowEdit" (click)="editLodge()" disabled>Edit</button>
      </div>
      <div class="content">
        <h2>Reviews</h2>
        <star-rating [starType]="'svg'" [rating]="avg_rating" (starClickChange)="onClickStar($event)" [disabled]="rated"></star-rating>
        <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
          <input class="input" type="text" placeholder="Text input" formControlName="review">
          <span><button class="button" type="submit" style="margin-top:5px">Submit</button></span>
        </form>
        <ul *ngFor="let review of lodgeObj.reviews">
          <li>{{review}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>