<section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form action="" class="box" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="field">
                <label for="" class="label">Username</label>
                <div class="control has-icons-left">
                  <input formControlName="username" type="text" placeholder="e.g. abcd" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input formControlName="email"  type="email" placeholder="e.g. willsmith@gmail.com" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">First Name</label>
                <div class="control has-icons-left">
                  <input formControlName="firstName"  type="email" placeholder="e.g. Will" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Last Name</label>
                <div class="control has-icons-left">
                  <input formControlName="lastName"  type="email" placeholder="e.g. Smith" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input formControlName="password"  type="password" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="checkbox">
                  <input formControlName="lodgeOwner"  type="checkbox">
                    I am a lodge owner
                </label>
              </div>
              <div class="field">
                <button class="button is-success">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>